/* Eliminar márgenes adicionales */
body {
    margin: 0;
    padding: 0;
    }

.container {
    padding-top: 20px; /* Aseguramos que haya algo de espacio en la parte superior */
}

h2 {
    margin-bottom: 10px; /* Reducimos el margen inferior del título */
}

/* Ajustamos el canvas para que ocupe el espacio disponible */
#attendanceChart {
    width: 100%;
    height: 350px; /* Ajustamos la altura del gráfico */
}