body {
    padding: 50px;
    font-family: sans-serif;
}

button {
    background-color: blue;
    padding: 5px 15px;
    border-radius: 5px;
    color: aliceblue;
}

#mensaje {
    max-width: 50ch;
}